.finding-job-whole-container {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  flex-direction: column;
}

.finding-job-container {
  max-width: var(--max-screen-width);
  width: 100%;
  margin-top: 65px;
}

@media (max-width: 950px) {
  .finding-job-container {
    margin-top: 125px;
  }
}
@media (max-width: 650px) {
  .finding-job-container {
    margin-top: 95px;
  }
}

.header-title {
  display: flex;
  justify-content: space-between;
}

.finding-job-whole-container .breadcrumb {
  margin-top: 24px;
}

.custom-breadcrumb ol {
  padding: 14px; /* Add padding */
  border-radius: 5px; /* Rounded corners */
  list-style: none; /* Remove default list styling */
  display: flex; /* Flex layout for breadcrumb items */
}

.custom-breadcrumb ol li {
  padding: 5px 10px; /* Add padding to each breadcrumb item */
  transition: background-color 0.3s ease; /* Smooth hover effect */
}

.custom-breadcrumb ol li:hover {
  background-color: #bbbbbb; /* Light blue hover background */
  border-radius: 5px; /* Match the parent border radius */
}

.finding-job-whole-container .ant-breadcrumb a:hover {
  background-color: transparent !important;
}

.modal-content {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  text-align: center;
  height: 100%;
}

.modal-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 10px;
  text-align: left;
}

@media (max-width: 1200px) {
  .modal-content {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) {
  .modal-content {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .modal-content {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 890px) {
  .job-card {
    flex-direction: column;
    align-items: center;
  }

  .job-card-meta {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .job-card-description {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .job-card-buttons {
    justify-content: center;
    margin-top: 10px;
  }

  .job-card-avatar {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 450px) {
  .job-card-description {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }

  .job-card-description > div {
    flex-direction: column;
    gap: 5px;
  }

  .job-card-buttons {
    justify-content: flex-start;
    gap: 5px;
    margin-right: 0;
  }

  .job-card-buttons .ant-btn {
    height: 30px;
    font-size: 12px;
  }

  .job-card-description span {
    font-size: 12px;
  }

  .save-button {
    width: 90%;
    margin-left: 9px;
  }

  .apply-now-button {
    width: 90% !important;
    margin-left: 9.5px !important;
  }
}
