.employer-home-whole-container {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    flex-direction: column;
}

.employer-home-container {
    max-width: var(--max-screen-width);
    width: 100%;
    margin-top: 95px;
    height: 100vh;
}

@media (max-width: 950px) {
    .employer-home-container{
        margin-top: 125px;
    }
}
@media (max-width: 650px) {
    .employer-home-container{
        margin-top: 95px;
    }
}