.employer-home-whole-container {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  flex-direction: column;
}

.employer-home-whole-container .employer-home-feedback-btn{
  position: fixed;
  bottom: 0;
  right: 10px;
  transform: translate(0, -50%);
  z-index: 100;
  padding: 7px 17px;
  border: 1px solid white;
  border-radius: 10px;
  font-size: 20px;
  background-color: #ffffff;
  box-shadow: 3px 5px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: 0.3s ease;
}
.employer-home-whole-container .employer-home-feedback-btn .anticon{
  font-size: 25px;
  margin-right: 5px;
}
.employer-home-whole-container .employer-home-feedback-btn:hover{
  color: #4096ff;
  border: 1px solid #4096ff;
  box-shadow: 3px 5px 6px rgba(64, 150, 255, 0.1);
  transition: 0.3s ease;
}
.employer-home-feedback-form .employer-home-feedback-field {
  width: 100%;
}
.employer-home-feedback-form .employer-home-feedback-field p{
  font-size: 17px;
  font-weight: 500;
  margin: 15px 0 10px;
}
.employer-home-feedback-form .employer-home-feedback-field p span{
  color: red;
}
.employer-home-feedback-form .employer-home-feedback-field .input {
  width: 100%;
  padding-left: 20px;
  font-size: 17px;
  font-family: var(--font-oswald);
}
.employer-home-feedback-form .employer-home-feedback-field .ant-form-item-additional{
  min-height: 15px !important;
}
.employer-home-feedback-form .employer-home-feedback-field .ant-form-item .ant-form-item-explain-error {
  color: red;
  font-size: 15px;
  padding: 5px 0 10px;
}

.employer-home-feedback-form .submit-btn{
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.employer-home-container {
  max-width: var(--max-screen-width);
  width: 100%;
  margin-top: 95px;
  min-height: 100vh;
  height: fit-content;
}

@media (max-width: 950px) {
  .employer-home-container {
    margin-top: 125px;
  }
}
@media (max-width: 650px) {
  .employer-home-container {
    margin-top: 95px;
  }
}

/* .employer-home-first-section {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}

.employer-home-image1 {
  width: 100%;
  height: 100%;
  max-width: 500px;
  max-height: 500px;
}

.employer-home-second-section {
  margin-top: 10em;
}

.employer-home-image6 {
  width: 500px; 
  height: auto; 
}

.employer-home-reason-container {
  width: 55%;
  margin-left: 3em;
}

.employer-home-image6 {
  max-width: 100%; 
  height: auto; 
}

.employer-home-reason-content {
  display: flex;
  align-items: center;
  gap: 10px;
}

.employer-home-image2 {
  width: 120px; 
  height: auto; 
}

.employer-home-image3 {
  width: 120px; 
  height: auto; 
}

.employer-home-image4 {
  width: 120px; 
  height: auto; 
}

.employer-home-image5 {
  width: 120px; 
  height: auto; 
}

.employer-home-image6 {
  width: 500px; 
  height: auto; 
} */