.employer-home-whole-container {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  flex-direction: column;
}

.employer-home-container {
  max-width: var(--max-screen-width);
  width: 100%;
  margin-top: 95px;
  height: 100vh;
}

@media (max-width: 950px) {
  .employer-home-container {
    margin-top: 125px;
  }
}
@media (max-width: 650px) {
  .employer-home-container {
    margin-top: 95px;
  }
}

.employer-home-first-section {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}

.employer-home-image1 {
  width: 100%;
  height: 100%;
  max-width: 500px;
  max-height: 500px;
}

.employer-home-second-section {
  margin-top: 10em;
}

.employer-home-image6 {
  width: 500px; /* Adjust the width */
  height: auto; /* Maintain aspect ratio */
}

.employer-home-reason-container {
  width: 55%;
  margin-left: 3em;
}

.employer-home-image6 {
  max-width: 100%; /* Ensures the image is responsive */
  height: auto; /* Maintains aspect ratio */
}

.employer-home-reason-content {
  display: flex;
  align-items: center;
  gap: 10px; /* Space between the image and text */
}

.employer-home-image2 {
  width: 120px; /* Adjust the width */
  height: auto; /* Maintain aspect ratio */
}

.employer-home-image3 {
  width: 120px; /* Adjust the width */
  height: auto; /* Maintain aspect ratio */
}

.employer-home-image4 {
  width: 120px; /* Adjust the width */
  height: auto; /* Maintain aspect ratio */
}

.employer-home-image5 {
  width: 120px; /* Adjust the width */
  height: auto; /* Maintain aspect ratio */
}

.employer-home-image6 {
  width: 500px; /* Adjust the width */
  height: auto; /* Maintain aspect ratio */
}