.worker-detail-for-employer-whole-container{
  margin-top: 25px;
}
.worker-detail-for-employer-whole-container .ant-breadcrumb {
  font-size: 18px;
}
.worker-detail-for-employer-whole-container .ant-breadcrumb ol {
  width: 95%;
  margin-left: 5%;
  align-items: center;
}
.worker-detail-for-employer-whole-container .ant-breadcrumb .ant-breadcrumb-link{
  margin: 0 5px;
}
.worker-detail-for-employer-whole-container .breadcrumb .b-title-1{
  padding: 5px 10px 15px;
}
/* chỉnh dấu /  */
.worker-detail-for-employer-whole-container .ant-breadcrumb .ant-breadcrumb-separator {
  color: black;
  padding-bottom: 0.3%;
  font-size: 18px;
}
.worker-detail-for-employer-whole-container .breadcrumb .b-title-2 {
  color: rgb(61, 61, 61);
  text-transform: capitalize;
  cursor: pointer;
  margin: 0;
  padding: 5px 10px 10px;
  border-radius: 5px;
}
.worker-detail-for-employer-whole-container .breadcrumb .b-title-2.gray {
  color: rgba(0, 0, 0, 0.45);
}
.worker-detail-for-employer-whole-container .breadcrumb .b-title-2:hover {
  background-color: rgba(0, 0, 0, 0.06);
}
.worker-detail-for-employer-whole-container .ant-breadcrumb .anticon {
  font-size: 22px;
  margin-right: 5px;
}


.worker-detail-for-employer-container{
  width: 80%;
  margin: 0 5% 100px;
  padding: 40px 5% 50px;
  background-color: white;
  box-shadow: 0 1px 10px 3px rgba(118, 118, 118, 0.1);
  border-radius: 10px;
}

.worker-detail-for-employer-container .worker-detail-for-employer-info{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.worker-detail-for-employer-info .worker-detail-for-employer-info-left{
  width: 50%;
}

.worker-detail-for-employer-info-left .worker-identity{
  width: 100%;
  display: flex;
  align-items: center;
}
.worker-detail-for-employer-info-left .worker-identity img{
  width: 120px;
  height: 120px;
  background-color: black;
  border-radius: 50%;
  margin-right: 25px;
}
.worker-detail-for-employer-info-left .worker-identity .worker-name-star{
  width: 100%;
}
.worker-detail-for-employer-info-left .worker-identity .worker-name-star p{
  width: 100%;
  font-size: 30px;
  font-weight: 500;
  margin: 0 0 12px;
}
.worker-detail-for-employer-info-left .worker-identity .worker-name-star div{
  width: 100%;
}
.worker-detail-for-employer-info-left .worker-identity .worker-name-star .anticon{
  font-size: 27px;
}

.worker-detail-for-employer-info-left  .worker-rating{
  width: 100%;
  margin-top: 30px;
}
.worker-detail-for-employer-info-left  .worker-rating p{
  width: 90%;
  padding-right: 10%;
  color: #f31010;
}
.worker-detail-for-employer-info-left  .worker-rating button{
  font-size: 18px;
  color: white;
  background-color:	#FFB300;
  border: none;
  border-radius: 5px;
  padding: 6px 15px 7px;
  cursor: pointer;
  transition: 0.3s ease;
}
.worker-detail-for-employer-info-left  .worker-rating button:hover{
  background-color: #FFA000;
  transition: 0.3s ease;
}
.worker-detail-for-employer-info-left  .worker-rating button:disabled{
  color: gray;
  background-color: #d9d9d9;
  cursor: not-allowed;
}

/* Modal Review */
.ant-modal .ant-modal-content {
  width: 90%;
  margin: 0 5%;
  padding-bottom: 30px;
}
.ant-modal .ant-modal-footer {
  display: flex;
  justify-content: space-between;
}
.employer-evaluate-worker-title{
  margin: 10px 0;
}
.employer-evaluate-worker-rating{
  width: 100%;
  display: flex;
  align-items: baseline;
}
.employer-evaluate-worker-rating p{
  font-size: 17.5px;
  margin-bottom: 10px;
  font-weight: 500;
}
.employer-evaluate-worker-reason p{
  font-size: 17px;
  font-weight: 500;
}
.employer-evaluate-worker-reason p span{
  color: red;
}
/* chỉnh font chữ cho reason */
.employer-evaluate-worker-reason .ant-input {
  font-family: var(--font-oswald);
  font-size: 16px;
  padding-left: 5%;
}
/* chỉnh message error */
.employer-evaluate-worker-reason .ant-form-item .ant-form-item-explain-error {
  color: red;
  font-size: 16px;
  padding: 1% 0 0 1%;
}
.employer-evaluate-worker-reason p.content{
  font-size: 16px;
  font-weight: 450;
  border: 1px solid #d9d9d9;
  border-radius: 5px;
  padding: 10px 20px;
  margin: 10px 0 30px;
}



.worker-detail-for-employer-info .worker-detail-for-employer-info-right{
  width: 50%;
}
.worker-detail-for-employer-info .worker-detail-for-employer-info-right h2{
  text-align: center;
  font-size: 25px;
}

.worker-detail-for-employer-info-right .worker-info{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.worker-detail-for-employer-info-right .worker-info p{
  width: 70%;
  min-width: fit-content;
  font-size: 20px;
  color: #3d3d3d;
  margin-bottom: 10px;
}
.worker-detail-for-employer-info-right .worker-info p:last-child{
  width: 30%;
}
.worker-detail-for-employer-info-right .worker-info p .anticon{
  font-size: 30px;
  margin-right: 10px;
}

.worker-detail-for-employer-info-right .worker-description{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
}
.worker-detail-for-employer-info-right .worker-description p{
  max-width: fit-content;
  font-size: 20px;
  color: #3d3d3d;
  margin-right: 15px;
  margin-bottom: 0px;
}
.worker-detail-for-employer-info-right .worker-description .worker-description-content{
  font-size: 20px !important;
  color: #3d3d3d;
}
.worker-detail-for-employer-info-right .worker-description .worker-description-content p{
  margin: 0;
}
.worker-detail-for-employer-info-right .worker-description .worker-description-content p span,
.worker-detail-for-employer-info-right .worker-description .worker-description-content ul li,
.worker-detail-for-employer-info-right .worker-description .worker-description-content ol li{
  color: #3d3d3d !important;
}
.worker-detail-for-employer-info-right .worker-description .worker-description-content p a,
.worker-detail-for-employer-info-right .worker-description .worker-description-content ul li a,
.worker-detail-for-employer-info-right .worker-description .worker-description-content ol li a{
  color: #187bcd !important;
}
.worker-detail-for-employer-info-right .worker-description p:last-child{
  max-width: fit-content;
  margin-top: 15px;
}
.worker-detail-for-employer-info-right .worker-description .anticon{
  font-size: 30px;
  margin-right: 10px;
}

.worker-detail-for-employer-info-right .show-more-less-btn{
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 5px 0 35px;
}
.worker-detail-for-employer-info-right .show-more-less-btn.show-less{
  margin: 35px 0;
}
.worker-detail-for-employer-info-right .show-more-less-btn button {
  border: none;
  font-size: 19px;
  background-color: white;
  color: #0a65cc;
  cursor: pointer;
  transition: 0.3s ease;
}
.worker-detail-for-employer-info-right .show-more-less-btn button:hover {
  color: #0412b2;
  transition: 0.3s ease;
}


/* Worker Job Execute */
.worker-detail-for-employer-container .worker-detail-job-execute-title{
  width: 100%;
  text-align: center;
  /* padding: 4% 0 1.5%; */
  padding: 50px 0 10px;
  border-top: 1px solid rgba(118, 118, 118, 0.16);
}

.worker-detail-for-employer-container .editing-rules{
  width: 95%;
  padding: 0 2.5%;
}
.worker-detail-for-employer-container .editing-rules .editing-rules-title{
  font-size: 20px;
  color: #00c05a;
  font-weight: 500;
}
.worker-detail-for-employer-container .editing-rules .editing-rules-title span{
  font-size: 28px;
}
.worker-detail-for-employer-container .editing-rules .editing-rules-content{
  width: 95%;
  padding: 0 2.5%;
  font-size: 19px;
  color: #252525;
  line-height: 2;
}
.worker-detail-for-employer-container .editing-rules .editing-rules-content span{
  font-size: 20px;
  color: rgb(236, 130, 0);
  font-weight: 470;
}

.worker-detail-for-employer-container .editing-rules .show-more-less-btn{
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 20px 0 35px;
}
.worker-detail-for-employer-container .editing-rules .show-more-less-btn.show-less{
  margin: 0 0 40px;
}
.worker-detail-for-employer-container .editing-rules .show-more-less-btn button {
  border: none;
  font-size: 19px;
  background-color: white;
  color: #0a65cc;
  cursor: pointer;
  transition: 0.3s ease;
}
.worker-detail-for-employer-container .editing-rules .show-more-less-btn button:hover {
  color: #0412b2;
  transition: 0.3s ease;
}



.worker-detail-for-employer-container .worker-detail-job-execute-whole-table{
  width: 95%;
  padding: 0 2.5% 2%;
}
.worker-detail-for-employer-container .worker-detail-job-execute-whole-table .worker-detail-job-execute-table{
  width: 100%;
  border: 1px solid rgba(118, 118, 118, 0.16);
  font-size: 17px;
  border-radius: 10px;
  /* do có cái này nên ko border-radius được */
  /* border-collapse: collapse; */
  border-collapse: separate; /* Rất quan trọng */
  border-spacing: 0; /* Để các ô sát nhau */
  overflow: hidden;  /* Bắt buộc nếu muốn thấy rõ bo góc */
}

.worker-detail-job-execute-whole-table .worker-detail-job-execute-table thead{
  /* background-color: #2A9DF4;
  color: white; */
  background-color: rgb(229, 229, 229);
  color: rgb(51, 51, 51);
}
.worker-detail-job-execute-whole-table .worker-detail-job-execute-table thead tr{
  width: 100%;
}
.worker-detail-job-execute-whole-table .worker-detail-job-execute-table thead tr th{
  border: 1px solid #d8d8d8;
  padding: 1% 0;
}
.worker-detail-job-execute-whole-table .worker-detail-job-execute-table thead tr th.no-column {
  width: 4%;
}
.worker-detail-job-execute-whole-table .worker-detail-job-execute-table thead tr th.job-requirement {
  width: 24%; 
}
.worker-detail-job-execute-whole-table .worker-detail-job-execute-table thead tr th.assignment-date {
  width: 11%;
}
.worker-detail-job-execute-whole-table .worker-detail-job-execute-table thead tr th.check-in {
  width: 13.5%; 
}
.worker-detail-job-execute-whole-table .worker-detail-job-execute-table thead tr th.check-out {
  width: 13.5%; 
}
.worker-detail-job-execute-whole-table .worker-detail-job-execute-table thead tr th.progress {
  width: 9%; 
}
.worker-detail-job-execute-whole-table .worker-detail-job-execute-table thead tr th.progress-completed {
  width: 9%; 
}
.worker-detail-job-execute-whole-table .worker-detail-job-execute-table thead tr th.reason {
  width: 23%;
}

.worker-detail-job-execute-whole-table .worker-detail-job-execute-table tbody{
 
}
.worker-detail-job-execute-whole-table .worker-detail-job-execute-table tbody tr{
  width: 100%;
}
.worker-detail-job-execute-whole-table .worker-detail-job-execute-table tbody tr td{
  border: 1px solid #eaeaea;
  padding: 2% 0;
}
.worker-detail-job-execute-whole-table .worker-detail-job-execute-table tbody td .ant-form-item .ant-form-item-explain-error {
  color: red;
  font-size: 16px;
  padding: 0% 0;
}
.worker-detail-job-execute-whole-table .worker-detail-job-execute-table tbody tr td.no-column {
  width: 4%;
  text-align: center;
}
.worker-detail-job-execute-whole-table .worker-detail-job-execute-table tbody tr td.job-requirement {
  width: 20%; 
  padding: 2%;
}
.worker-detail-job-execute-whole-table .worker-detail-job-execute-table tbody tr td.assignment-date {
  width: 11%;
  text-align: center;
}
.worker-detail-job-execute-whole-table .worker-detail-job-execute-table tbody tr td.check-in {
  width: 13.5%; 
  text-align: center;
}
.worker-detail-job-execute-whole-table .worker-detail-job-execute-table tbody tr td.check-in img{
  width: 80px;
  height: 80px;
  border-radius: 5px;
}
.worker-detail-job-execute-whole-table .worker-detail-job-execute-table tbody tr td.check-in .ant-image .ant-image-mask {
  border-radius: 5px;
}
.worker-detail-job-execute-whole-table .worker-detail-job-execute-table tbody tr td.check-in.no-img{
  padding: 4.39% 0;
}
.worker-detail-job-execute-whole-table .worker-detail-job-execute-table tbody tr td.check-out {
  width: 13.5%; 
  text-align: center;
}
.worker-detail-job-execute-whole-table .worker-detail-job-execute-table tbody tr td.check-out img{
  width: 80px;
  height: 80px;
  border-radius: 5px;
}
.worker-detail-job-execute-whole-table .worker-detail-job-execute-table tbody tr td.check-out .ant-image .ant-image-mask {
  border-radius: 5px;
}
.worker-detail-job-execute-whole-table .worker-detail-job-execute-table tbody tr td.check-out.no-img{
  padding: 4.39% 0;
}
.worker-detail-job-execute-whole-table .worker-detail-job-execute-table tbody tr td.progress {
  width: 9%; 
  text-align: center;
}
.worker-detail-job-execute-whole-table .worker-detail-job-execute-table tbody tr td.progress-completed {
  width: 9%; 
  text-align: center;
}
.worker-detail-job-execute-whole-table .worker-detail-job-execute-table tbody tr td.progress-completed.edit{
  padding-top: 4%;
}
.worker-detail-job-execute-whole-table .worker-detail-job-execute-table tbody tr td.progress-completed .ant-input-number .ant-input-number-input {
  font-family: var(--font-oswald);
  text-align: center;
}
.worker-detail-job-execute-whole-table .worker-detail-job-execute-table tbody tr td.reason {
  width: 19%;
  padding: 2% 2%;
  color: red;
  min-height: 126px;
}
.worker-detail-job-execute-whole-table .worker-detail-job-execute-table tbody tr td.reason.edit{
  padding: 2% 2% 0%;
}


.worker-detail-for-employer-container .total-progress-completed {
  width: 90%;
  margin: 0 0 20px;
  padding: 0 5%;
  text-align: right;
  font-size: 20px;
}
.worker-detail-for-employer-container .total-progress-completed span{
  font-size: 25px;
  color: green;
}
.worker-detail-for-employer-container .total-progress-completed span.orange{
  color: orange;
}
.worker-detail-for-employer-container .total-progress-completed br{
  display: none;
}


.worker-detail-for-employer-container .ant-pagination {
  margin: 10px 0 30px;
}
.worker-detail-for-employer-container .ant-pagination .ant-pagination-options-quick-jumper {
  font-size: 16px;
}


.worker-detail-for-employer-container .save-edit-btn{
  width: 100%;
  display: flex;
  justify-content: center;
}
.worker-detail-for-employer-container .save-edit-btn button{
  font-size: 18px;
  font-weight: 450;
  border: none;
  border-radius: 20px;
  padding: 5px 20px 8px;
  color: white;
  background-color:rgb(0, 128, 255);
  cursor: pointer;
  transition: 0.3s ease;
}
.worker-detail-for-employer-container .save-edit-btn button:hover{
  background-color:rgb(0, 116, 233);
  transition: 0.3s ease;
}
.worker-detail-for-employer-container .save-edit-btn button.save-btn{
  background-color: rgb(0, 180, 0);
}
.worker-detail-for-employer-container .save-edit-btn button.save-btn:hover{
  background-color: rgb(3, 214, 3);
  transition: 0.3s ease;
}
.worker-detail-for-employer-container .save-edit-btn button.edit-btn:disabled{
  background-color: #d9d9d9;
  color: gray;
  cursor: not-allowed;
}


@media (max-width: 1300px) {
  .worker-detail-for-employer-container .worker-detail-for-employer-info-left{
    width: 40%;
  }
  .worker-detail-for-employer-container .worker-detail-for-employer-info-right{
    width: 60%;
  }
}
@media (max-width: 1200px) { 
  .worker-detail-for-employer-container .worker-detail-job-execute-whole-table{
    overflow-x: auto;
    margin-bottom: 4%;
  }
  .worker-detail-for-employer-container .worker-detail-job-execute-whole-table .worker-detail-job-execute-table{
    min-width: 1200px; /* Đảm bảo bảng không bị co lại quá nhỏ */
  }

  .worker-detail-for-employer-info-right .worker-info p{
    width: 100%;
  }
}
@media (max-width: 1100px) {
  .worker-detail-for-employer-container .worker-detail-for-employer-info{
    width: 85%;
    padding: 0 7.5%;
  }
  
  .worker-detail-for-employer-info .worker-detail-for-employer-info-left{
    width: 100%;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
  }
  .worker-detail-for-employer-info-left .worker-identity{
    margin-bottom: 15px;
    justify-content: center;
  }
  .worker-detail-for-employer-info-left .worker-identity .worker-name-star{
    width: fit-content;
  }
  .worker-detail-for-employer-info-left .worker-identity .worker-name-star p{
    width: fit-content;
  }
  .worker-detail-for-employer-info-left .worker-identity .worker-name-star div{
    width: fit-content;
  }
  .worker-detail-for-employer-info-left  .worker-rating{
    width: 100%;
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .worker-detail-for-employer-info-left  .worker-rating p{
    width: 100%;
    padding-right: 0%;
    font-size: 16.5px;
  }

  .worker-detail-for-employer-info .worker-detail-for-employer-info-right{
    width: 100%;
  }
  .worker-detail-for-employer-info .worker-detail-for-employer-info-right h2{
    text-align: center;
    margin: 40px 0 0;
    font-size: 27px;
    font-weight: 650;
  }
  .worker-detail-for-employer-info-right .worker-info p{
    width: 70%;
    min-width: fit-content;
  }
  .worker-detail-for-employer-info-right .worker-info p:last-child{
    width: 30%;
  }
}
@media (max-width: 1000px) {
  .worker-detail-for-employer-whole-container .ant-breadcrumb ol {
    width: 100%;
    margin-left: 0;
    justify-content: center;
    margin-bottom: 30px;
    height: 99px;
  }
  .worker-detail-for-employer-whole-container .ant-breadcrumb .ant-breadcrumb-link{
    margin: 0 5px;
    display: flex;
  }
}
@media (max-width: 900px) {
  .worker-detail-for-employer-info-left .worker-identity{
    width: 100%;
    margin-bottom: 0px;
  }
}
@media (max-width: 700px) {
  .worker-detail-for-employer-whole-container .ant-breadcrumb ol {
    margin-bottom: 50px;
  }

  .worker-detail-for-employer-info-right .worker-info p{
    width: 100%;
  }

  .worker-detail-for-employer-container .ant-pagination {
    margin: 30px 0;
  }
}
@media (max-width: 470px) {
  .worker-detail-for-employer-info-left .worker-identity{
    flex-wrap: wrap;
  }
  .worker-detail-for-employer-info-left .worker-identity img{
    margin: 0 10px;
  }
  .worker-detail-for-employer-info-left .worker-identity .worker-name-star p{
    width: 100%;
    font-size: 28px;
    text-align: center;
    margin-top: 20px;
  }
  .worker-detail-for-employer-info-left .worker-identity .worker-name-star div{
    /* width: 80%;
    padding: 0 10%; */
    text-align: center;
  }
  .worker-detail-for-employer-info-right .worker-info p.worker-email{
    word-break: break-all;
  }

  .worker-detail-for-employer-container .total-progress-completed br{
    display: block;
  }
}