.worker-profile-container{
  width: 90%;
  min-height: 350px;
  margin-left: 2%;
  padding: 40px 4% 70px;
  background-color: white;
  box-shadow: 0 1px 10px 3px rgba(118, 118, 118, 0.1);
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.worker-profile-container .worker-edit-profile-btn{
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 30px;
  color: #187bcd;
  background-color: white;
  border: none;
  cursor: pointer;
  transition: 0.3s ease;
}
.worker-profile-container .worker-edit-profile-btn:hover{
  color: #0059b3;
  transform: scale(1.2);
  transition: 0.3s ease;
}

/* chỉnh Modal Edit Profile */
/* có chỉnh ở component WorkerDetailForEmployer */
/* .ant-modal .ant-modal-content {
  margin: 0 5% !important;
} */
.worker-edit-profile-title{
  margin: 10px 0 15px;
  font-size: 22px;
  color: #187bcd;
}
.worker-edit-profile-content{
  width: 96%;
  padding: 0 2%;
  margin-bottom: 50px;
}
.worker-edit-profile-content .modal-worker-avatar{
  width: 100%;
  display: flex;
  justify-content: center;
}
.worker-edit-profile-content .modal-worker-double-field{
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.worker-edit-profile-content .modal-worker-double-field .modal-worker-field {
  width: 47%;
}
.worker-edit-profile-content .modal-worker-double-field .modal-worker-field p{
  font-size: 18px;
  margin: 10px 0;
}
.worker-edit-profile-content .modal-worker-double-field .modal-worker-field p span{
  color: red;
}
.worker-edit-profile-content .modal-worker-double-field .modal-worker-field p.city,
.worker-edit-profile-content .modal-worker-double-field .modal-worker-field p.district{
  margin: 10px 0 13px;
}
.worker-edit-profile-content .modal-worker-double-field .modal-worker-field .input {
  width: 100%;
  padding-left: 7%;
  font-size: 17px;
  font-family: var(--font-oswald);
}
 /* chỉnh chiều cao của field Select */
.worker-edit-profile-content .modal-worker-double-field .modal-worker-field .ant-select-outlined:not(.ant-select-customize-input) .ant-select-selector {
  height: 130%;
  border: 1px solid #d9d9d9;
  border-radius: 10px;
}
.worker-edit-profile-content .modal-worker-double-field .modal-worker-field .ant-select-single .ant-select-selector {
  font-size: 16px;
  padding-left: 7%;
}
/* chỉnh màu khi field Select bị disabled */
.worker-edit-profile-content .modal-worker-double-field .modal-worker-field .ant-select-disabled.ant-select:not(.ant-select-customize-input) .ant-select-selector {
  cursor: not-allowed;
  background: rgb(255, 255, 255) !important;
}
.worker-edit-profile-content .modal-worker-double-field .modal-worker-field .ant-select-focused.ant-select-outlined:not(.ant-select-disabled):not(.ant-select-customize-input):not(.ant-pagination-size-changer) .ant-select-selector {
  border-color: #1677ff;
  box-shadow: 0 0 0 2px rgba(5, 145, 255, 0.1);
  outline: 0;
}
/* chỉnh size chữ khi mở dropdown select */
.ant-select-dropdown .ant-select-item-option-content {
  font-size: 16px !important;
}
.worker-edit-profile-content .modal-worker-double-field .modal-worker-field .ant-form-item {
  margin-bottom: 10px;
}
.worker-edit-profile-content .modal-worker-double-field .modal-worker-field .ant-form-item .ant-form-item-explain-error {
  color: red;
  font-size: 16px;
  padding: 2% 0 3%;
}

.worker-edit-profile-content .modal-worker-trible-field{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.worker-edit-profile-content .modal-worker-trible-field .modal-worker-field {
  width: 30%;
}
.worker-edit-profile-content .modal-worker-trible-field .modal-worker-field p{
  font-size: 18px;
  margin: 10px 0;
}
.worker-edit-profile-content .modal-worker-trible-field .modal-worker-field p span{
  color: red;
}
.worker-edit-profile-content .modal-worker-trible-field .modal-worker-field p.gender{
  margin: 10px 0 13px;
}
.worker-edit-profile-content .modal-worker-trible-field .modal-worker-field .input {
  width: 100%;
  padding-left: 7%;
  font-size: 17px;
  font-family: var(--font-oswald);
  border-radius: 10px;
}
.worker-edit-profile-content .modal-worker-trible-field .modal-worker-field .input.dob{
  margin-top: -1px;
  /* padding-top: 3.5%;
  padding-bottom: 3.2%; */
  height: 42px;
}
/* chỉnh chiều cao của field Select */
.worker-edit-profile-content .modal-worker-trible-field .modal-worker-field .ant-select-outlined:not(.ant-select-customize-input) .ant-select-selector {
  height: 130%;
  border: 1px solid #d9d9d9;
  border-radius: 10px;
  padding-left: 8%;
}
.worker-edit-profile-content .modal-worker-trible-field .modal-worker-field .ant-select-single .ant-select-selector {
  font-size: 16px;
}
.worker-edit-profile-content .modal-worker-trible-field .modal-worker-field .ant-select-focused.ant-select-outlined:not(.ant-select-disabled):not(.ant-select-customize-input):not(.ant-pagination-size-changer) .ant-select-selector {
  border-color: #1677ff;
  box-shadow: 0 0 0 2px rgba(5, 145, 255, 0.1);
  outline: 0;
}
.worker-edit-profile-content .modal-worker-trible-field .modal-worker-field .ant-form-item {
  margin-bottom: 10px;
}
.worker-edit-profile-content .modal-worker-trible-field .modal-worker-field .ant-form-item .ant-form-item-explain-error {
  color: red;
  font-size: 16px;
  padding: 2% 0 3%;
}

.worker-edit-profile-content .modal-worker-description {
  width: 100%;
}
.worker-edit-profile-content .modal-worker-description p{
  font-size: 18px;
  margin: 10px 0;
}
.worker-edit-profile-content .modal-worker-description p span{
  color: red;
}
/* .worker-edit-profile-content .modal-worker-description .input {
  padding-left: 3%;
  font-size: 17px;
  font-family: var(--font-oswald);
} */
.worker-edit-profile-content .modal-worker-description .ql-snow * {
  color: #3d3d3d !important;
  font-family: var(--font-oswald) !important;
  margin: 0;
}
.worker-edit-profile-content .modal-worker-description .ql-toolbar.ql-snow {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.worker-edit-profile-content .modal-worker-description .ql-toolbar.ql-snow + .ql-container.ql-snow {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.worker-edit-profile-content .modal-worker-description .ant-form-item .ant-form-item-explain-error {
  color: red;
  font-size: 16px;
  /* padding: 1% 0 0; */
  padding: 0% 0 0;
}



.worker-profile-container .worker-profile-left{
  width: 50%;
}

.worker-profile-left .worker-identity{
  width: 100%;
  display: flex;
  align-items: center;
}
.worker-profile-left .worker-identity img{
  width: 120px;
  height: 120px;
  /* background-color: black; */
  background-color: #d9d9d9;
  border-radius: 50%;
  margin-right: 25px;
}
.worker-profile-left .worker-identity .no-avatar{
  margin: 0;
  margin-right: 25px;
  min-width: 100px;
  width: 100px;
  height: 100px;
  background-color: #d9d9d9;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  font-size: 50px;
  color: white;
}
.worker-profile-left .worker-identity .worker-name-star{
  width: 100%;
}
.worker-profile-left .worker-identity .worker-name-star p{
  width: 100%;
  font-size: 30px;
  font-weight: 500;
  margin: 0 0 12px;
}
.worker-profile-left .worker-identity .worker-name-star div{
  width: 100%;
}
.worker-profile-left .worker-identity .worker-name-star .anticon{
  font-size: 27px;
}

.worker-profile-left .worker-view-rating-btn{
  width: 100%;
  margin-top: 40px;
}
.worker-profile-left .worker-view-rating-btn button{
  font-size: 18px;
  color: white;
  background-color:	#FFB300;
  border: none;
  border-radius: 5px;
  padding: 6px 15px 7px;
  cursor: pointer;
  transition: 0.3s ease;
}
.worker-profile-left .worker-view-rating-btn button:hover{
  background-color: #FFA000;
  transition: 0.3s ease;
}


.worker-profile-container .worker-profile-right{
  width: 50%;
}

.worker-profile-right .worker-info{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.worker-profile-right .worker-info p{
  width: 70%;
  min-width: fit-content;
  font-size: 20px;
  color: #3d3d3d;
  margin-bottom: 10px;
}
.worker-profile-right .worker-info p:last-child{
  width: 30%;
}
.worker-profile-right .worker-info p .anticon{
  font-size: 30px;
  margin-right: 10px;
}

.worker-profile-right .worker-description{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
}
.worker-profile-right .worker-description p{
  max-width: fit-content;
  font-size: 20px;
  color: #3d3d3d;
  margin-right: 15px;
  margin-bottom: 0px;
}
.worker-profile-right .worker-description .worker-description-content{
  /* width: 100%; */
  font-size: 20px !important;
  color: #3d3d3d;
  margin-top: 10px;
  /* word-break: break-word; */
}
.worker-profile-right .worker-description .worker-description-content p{
  margin: 0;
}
.worker-profile-right .worker-description .worker-description-content p span,
.worker-profile-right .worker-description .worker-description-content ul li,
.worker-profile-right .worker-description .worker-description-content ol li{
  color: #3d3d3d !important;
}
.worker-profile-right .worker-description .worker-description-content p a,
.worker-profile-right .worker-description .worker-description-content ul li a,
.worker-profile-right .worker-description .worker-description-content ol li a{
  color: #187bcd !important;
}
.worker-profile-right .worker-description p:last-child{
  max-width: fit-content;
  /* margin-top: 15px; */
}
.worker-profile-right .worker-description .anticon{
  font-size: 30px;
  margin-right: 10px;
}

@media (max-width: 1300px) {
  .worker-profile-container{
    width: 78%;
    margin-left: 2%;
    padding: 30px 10% 70px;
  }
  .worker-profile-container .worker-profile-left{
    width: 100%;
    justify-content: center;
  }
  .worker-profile-container .worker-profile-right{
    width: 100%;
    margin-top: 10px;
  }
  .worker-profile-left .worker-identity{
    margin-bottom: 15px;
    justify-content: center;
  }
  .worker-profile-left .worker-identity .worker-name-star{
    width: fit-content;
  }
  .worker-profile-left .worker-identity .worker-name-star p{
    width: fit-content;
  }
  .worker-profile-left .worker-identity .worker-name-star div{
    width: fit-content;
  }
}

@media (max-width: 1150px) {
  .worker-profile-container{
    width: 75%;
    margin: 0 2.5%;
    padding: 30px 10% 70px;
  }
}

@media (max-width: 850px) {
  .worker-edit-profile-content .modal-worker-double-field{
    flex-wrap: wrap;
    justify-content: center;
  }
  .worker-edit-profile-content .modal-worker-double-field .modal-worker-field {
    width: 100%;
  }
  .worker-edit-profile-content .modal-worker-double-field .modal-worker-field .input {
    padding-left: 30px;
  }
  .worker-edit-profile-content .modal-worker-double-field .modal-worker-field .ant-select-single .ant-select-selector {
    padding-left: 30px;
  }

  .worker-edit-profile-content .modal-worker-trible-field{
    flex-wrap: wrap;
    justify-content: center;
  }
  .worker-edit-profile-content .modal-worker-trible-field .modal-worker-field {
    width: 100%;
  }
  .worker-edit-profile-content .modal-worker-trible-field .modal-worker-field .input {
    padding-left: 30px;
  }
  .worker-edit-profile-content .modal-worker-trible-field .modal-worker-field .ant-select-outlined:not(.ant-select-customize-input) .ant-select-selector {
    padding-left: 30px;
  }

  .worker-edit-profile-content .modal-worker-description .ql-container.ql-snow .ql-editor {
    padding: 15px 30px;
  }
}

@media (max-width: 750px) {
  .worker-profile-container .worker-edit-profile-btn{
    top: 10px;
    right: 20px;
  }
  .worker-profile-container .worker-profile-left{
    margin-top: 30px;
  }
  .worker-profile-left .worker-view-rating-btn{
    display: flex;
    justify-content: center;
  }
  .worker-profile-right .worker-info p{
    width: 100%;
  }
}
@media (max-width: 500px) {
  .worker-edit-profile-content .modal-worker-double-field .modal-worker-field .input {
    padding-left: 20px;
  }
  .worker-edit-profile-content .modal-worker-double-field .modal-worker-field .ant-select-single .ant-select-selector {
    padding-left: 20px;
  }

  .worker-edit-profile-content .modal-worker-trible-field .modal-worker-field .input {
    padding-left: 20px;
  }
  .worker-edit-profile-content .modal-worker-trible-field .modal-worker-field .ant-select-outlined:not(.ant-select-customize-input) .ant-select-selector {
    padding-left: 20px;
  }

  .worker-edit-profile-content .modal-worker-description .ql-container.ql-snow .ql-editor {
    padding: 15px 20px;
  }

  .worker-profile-left .worker-identity{
    flex-wrap: wrap;
  }
  .worker-profile-left .worker-identity img{
    margin-right: 0;
  }
  .worker-profile-left .worker-identity .no-avatar{
    margin-right: 0;
  }
  .worker-profile-left .worker-identity .worker-name-star{
    width: 100%;
  }
  .worker-profile-left .worker-identity .worker-name-star p{
    width: 100%;
    font-size: 28px;
    text-align: center;
    margin-top: 20px;
  }
  .worker-profile-left .worker-identity .worker-name-star div{
    width: 70%;
    padding: 0 15%;
    text-align: center;
  }
  .worker-profile-right .worker-info p.worker-email{
    word-break: break-all;
  }
  .worker-profile-right .worker-description .worker-description-content{
    width: 90%;
    padding: 0 5%;
  }
}