.auth-worker-whole-container {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.auth-worker-container {
    max-width: var(--max-screen-width);
    width: 100%;
    min-height: 100vh;
    height: fit-content;
    /* height: 100vh; */
    display: flex;

}

.auth-worker-container .auth-worker-background-img {
    width: 80%;
    /* height: 100%; */
    /* ko nên để cái này vì hình sẽ bị dẹp lại khi mở inspect */
    min-height: 100vh;
    height: fit-content;
    position: fixed;
    right: 0;
    z-index: -1;
}

.auth-worker-container .auth-worker-left {
    width: 40%;
    padding: 3% 5%;
    min-height: 100vh;
    height: fit-content;
    background-color: #dfedff;
    /* position: fixed;
    left: 0; */
    /* không nên dùng fixed vì khi content nhiều lên sẽ không thấy đc các content ở dưới nữa
    Nếu bỏ fixed thì khi thu nhỏ div này sẽ bị lôi về giữa
    Nên cho auth-worker-whole-container position: relative r div này position absolute là giải quyết được */
    position: absolute;
    left: 0;
    display: flex;
    flex: 1;
    align-items: flex-start;
    justify-content: center;
    align-content: flex-start;
    flex-wrap: wrap;
    /* flex-shrink: 0; */
}

.auth-worker-left .welcome-worker {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.auth-worker-left .welcome-worker h1 {
    color: #1167B1
}

.auth-worker-left .welcome-worker img {
    width: 180px;
    height: 60px;
}


.auth-worker-left .auth-worker-form {
    width: 80%;
    padding: 0% 10%;
}

.auth-worker-left .auth-worker-form .worker-info {}

.auth-worker-left .auth-worker-form .worker-info .title {
    color: #1167B1;
    margin: 10px 0;
}
.auth-worker-left .auth-worker-form .worker-info .input {
    padding-left: 3%;

}
/* chỉnh cho placeholder xa icon */
.auth-worker-left .auth-worker-form .worker-info .ant-input-affix-wrapper>input.ant-input {
    padding-left: 3%;
    font-family: var(--font-oswald);
}
/* chỉnh message error */
.auth-worker-left .auth-worker-form .worker-info .ant-form-item .ant-form-item-explain-error {
    color: red;
    font-size: 15px;
    padding: 2% 0;
}

.auth-worker-left .auth-worker-form .forgot-password {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.auth-worker-left .auth-worker-form .forgot-password p {
    width: fit-content;
    color: gray;
    cursor: pointer;
    margin: 0;
}
.auth-worker-left .auth-worker-form .forgot-password p:hover {
    text-decoration: underline;
}


.auth-worker-left .auth-worker-form .worker-checkbox {
    color: gray;
    font-size: 16px;
}
.auth-worker-left .auth-worker-form .worker-checkbox .condition {
    color: #1167B1;
}
.auth-worker-left .auth-worker-form .worker-checkbox .condition:hover {
    text-decoration: underline;
}
.auth-worker-left .auth-worker-form .checkbox-error-text {
    color: red;
    font-size: 16px;
    margin-top: 5px;
}


.auth-worker-left .auth-worker-form button {
    width: 100%;
    margin: 5% 0;
    padding: 3% 0;
    background-color: #187bcd;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: 500;
    font-size: 17px;
    cursor: pointer;
    transition: 0.3s ease;
}
.auth-worker-left .auth-worker-form button:hover {
    background-color: #2d8cda;
    transition: 0.3s ease;
}


.auth-worker-left .log-in-gg-btn{
    width: 80%;
    padding: 2% 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: 3px solid #187bcd;
    border-radius: 10px;
    color: #187bcd;
    font-weight: 500;
    font-size: 17px;
    cursor: pointer;
    transition: 0.3s ease;
}
.auth-worker-left .log-in-gg-btn img{
    width: 25px;
    height: 25px;
    padding-right: 2%;
}
.auth-worker-left .log-in-gg-btn:hover{
    background-color: #b6e1ff;
    transition: 0.3s ease;
}

.auth-worker-left .already-account-or-not{
    width: 100%;
    display: flex;
    justify-content: center;
}
.auth-worker-left .already-account-or-not p{
    color: gray
}
.auth-worker-left .already-account-or-not span{
    color: #1167B1;
    cursor: pointer;
}
.auth-worker-left .already-account-or-not span:hover{
    text-decoration: underline;
}

.auth-worker-container .auth-worker-right {
    width: 50%;
}

@media (max-width: 1280px) {
    .auth-worker-container .auth-worker-background-img {
        width: 85%;
    }
}
@media (max-width: 1200px) {
    .auth-worker-container .auth-worker-background-img {
        width: 0%;
    }
    .auth-worker-container .auth-worker-left {
        width: 60%;
        padding: 7% 20% 3%;
    }
    .auth-worker-left .auth-worker-form button {
        padding: 2% 0;
    }
    .auth-worker-left .log-in-gg-btn{
        padding: 1.5% 10%;
    }
}
@media (max-width: 1000px) {
    .auth-worker-container .auth-worker-left {
        width: 80%;
        padding: 7% 10% 3%;
    }
}
@media (max-width: 620px) {
    .auth-worker-left .welcome-worker {
        flex-wrap: wrap;
    }
    .auth-worker-left .welcome-worker h1 {
        width: 100%;
        text-align: center;
        margin-bottom: 2%;
    }
    .auth-worker-left .welcome-worker img {
        width: 180px;
        height: 70px;
    }
}