.header-whole-container {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: flex-start;
    position: fixed;
    z-index: 10;
    width: 100%;
    background-color: var(--primary-color);
    color: white;
    height: 10px;
    transition: height 0.3s ease;
}
.show {
    transition: 0.3s ease;
    height: 95px;
}

.header-container{
    font-family: var(--font-inter);
    font-weight: bold;
    max-width: var(--max-screen-width);
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 5px;
    /* border-bottom: 3px solid rgba(235, 235, 235, 0.8); */
    transition: 0.3s ease;
    height: 95px;
    transform: translateY(-100%);
    transition: 0.3s ease;
}

.show-down {
    transform: translateY(0);
    transition: 0.3s ease;
}

.header-left{
    width: 60%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.header-left .header-logo{
    width: 200px;
    height: 80px;
    cursor: pointer;
    padding-left: 2%;
}
.header-left li{
    list-style-type: none;
    cursor: pointer;
    padding: 0 5%;
    font-size: 24px;
    font-weight: 350;
}

.header-right{
    width: 40%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.header-right li{
    list-style-type: none;
    cursor: pointer;
    padding: 0 5%;
    font-size: 24px;
    font-weight: 350;
}