.worker-job-detail-container{
    width: 90%;
    margin-left: 2%;
    padding: 2% 4% 5%;
    background-color: white;
    box-shadow: 0 1px 10px 3px rgba(118, 118, 118, 0.1);
    border-radius: 10px;
    position: relative;
}

.worker-job-detail-container .go-back-btn{
    position: absolute;
    top: 1%;
    left: 2%;
    font-size: 25px;
    background-color: white;
    border: none;
    cursor: pointer;
    transition: 0.3s ease;
}
.worker-job-detail-container .go-back-btn:hover{
    color: rgb(109, 109, 109);
    transition: 0.3s ease;
}


.worker-job-detail-container .worker-job-detail-title{
    text-align: center;
    margin: 0;
    padding-bottom: 2%;
    border-bottom: 1px solid rgba(118, 118, 118, 0.16);
}


/* Worker Job Detail Info */
.worker-job-detail-container .worker-job-detail-info{
    width: 90%;
    padding: 3% 5% 2%;
    color: #444444;
    font-size: 20px;
    display: flex;
    flex-wrap: wrap;
}
.worker-job-detail-container .worker-job-detail-info p{
    width: 100%;
    display: flex;
    align-items: flex-start;
    margin: 1.5% 0;
}
.worker-job-detail-container .worker-job-detail-info p .anticon {
    font-size: 28px;
    margin-right: 11px;
}

.worker-job-detail-container .worker-job-detail-info .worker-job-detail-short-info{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.worker-job-detail-container .worker-job-detail-info .worker-job-detail-short-info p{
    width: 50%;
    display: flex;
    align-items: flex-start;
    margin: 1.5% 0;
}

.worker-job-detail-container .worker-job-detail-info .description p{
    margin: 0;
}
.worker-job-detail-container .worker-job-detail-info .description p span,
.worker-job-detail-container .worker-job-detail-info .description ul li,
.worker-job-detail-container .worker-job-detail-info .description ol li{
  color: #3d3d3d !important;
}
.worker-job-detail-container .worker-job-detail-info .description p a,
.worker-job-detail-container .worker-job-detail-info .description ul li a,
.worker-job-detail-container .worker-job-detail-info .description ol li a{
  color: #187bcd !important;
}

.worker-job-detail-container .worker-job-detail-info .show-more-less-btn{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 1% 0 0;
}
.worker-job-detail-container .worker-job-detail-info .show-more-less-btn button {
    border: none;
    font-size: 19px;
    background-color: white;
    color: #0a65cc;
    cursor: pointer;
    transition: 0.3s ease;
}
.worker-job-detail-container .worker-job-detail-info .show-more-less-btn button:hover {
    color: #0412b2;
    transition: 0.3s ease;
}

.worker-job-detail-container .employer-rating{
    width: 90%;
    padding: 10px 5% 30px;
}
.worker-job-detail-container .employer-rating p{
    width: 100%;
    /* text-align: center; */
    margin-top: 0;
    font-size: 17px;
    color: #f31010;
}
.worker-job-detail-container .employer-rating .employer-rating-btn {
    width: 100%;
    display: flex;
    justify-content: center;
}
.worker-job-detail-container .employer-rating .employer-rating-btn button{
    font-size: 17.5px;
    color: white;
    background-color:#FFB300;
    border: none;
    border-radius: 5px;
    padding: 6px 15px 7px;
    cursor: pointer;
    transition: 0.3s ease;
}
.worker-job-detail-container .employer-rating .employer-rating-btn button:hover{
    background-color: #FFA000;
    transition: 0.3s ease;
}
.worker-job-detail-container .employer-rating .employer-rating-btn button:disabled{
    color: gray;
    background-color: #d9d9d9;
    cursor: not-allowed;
}
  
  /* Modal Review (lấy từ WorkerDetailForEmployer)*/
.ant-modal .ant-modal-content {
    width: 90%;
    margin: 0 5%;
}
.employer-evaluate-worker-title{
    margin: 10px 0;
}
.employer-evaluate-worker-rating{
    width: 100%;
    display: flex;
    align-items: baseline;
}
.employer-evaluate-worker-rating p{
    font-size: 17.5px;
    margin-bottom: 10px;
    font-weight: 500;
}
.employer-evaluate-worker-reason p{
    font-size: 17px;
    font-weight: 500;
}
.employer-evaluate-worker-reason p span{
    color: red;
}
/* chỉnh font chữ cho reason */
.employer-evaluate-worker-reason .ant-input {
    font-family: var(--font-oswald);
    font-size: 16px;
    padding-left: 5%;
}
/* chỉnh message error */
.employer-evaluate-worker-reason .ant-form-item .ant-form-item-explain-error {
    color: red;
    font-size: 16px;
    padding: 1% 0 0 1%;
}
.employer-evaluate-worker-reason p.content{
    font-size: 16px;
    font-weight: 450;
    border: 1px solid #d9d9d9;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 10px 0 30px;
}
  

/* Worker Job Execute */
.worker-job-detail-container .worker-job-execute-title{
    width: 100%;
    text-align: center;
    margin: 0 0 2.5%;
    padding-top: 4%;
    border-top: 1px solid rgba(118, 118, 118, 0.16);
}
.worker-job-detail-container .warning-notice{
    width: 95%;
    padding: 0 2.5%;
    color: red;
    font-size: 17px;
}
.worker-job-detail-container .worker-job-execute-whole-table{
    width: 95%;
    padding: 0 2.5% 2%;
}
.worker-job-detail-container .worker-job-execute-whole-table .worker-job-execute-table{
    width: 100%;
    border: 1px solid rgba(118, 118, 118, 0.16);
    font-size: 17px;
    border-radius: 10px;
    /* do có cái này nên ko border-radius được */
    /* border-collapse: collapse; */
    border-collapse: separate; /* Rất quan trọng */
    border-spacing: 0; /* Để các ô sát nhau */
    overflow: hidden;  /* Bắt buộc nếu muốn thấy rõ bo góc */
}

.worker-job-execute-whole-table .worker-job-execute-table thead{
    /* background-color: #2A9DF4;
    color: white; */
    background-color: rgb(229, 229, 229);
    color: rgb(51, 51, 51);
}
.worker-job-execute-whole-table .worker-job-execute-table thead tr{
    width: 100%;
}
.worker-job-execute-whole-table .worker-job-execute-table thead tr th{
    border: 1px solid #d8d8d8;
    padding: 1% 0;
}
.worker-job-execute-whole-table .worker-job-execute-table thead tr th.no-column {
    width: 4%;
}
.worker-job-execute-whole-table .worker-job-execute-table thead tr th.job-requirement {
    width: 24%; 
}
.worker-job-execute-whole-table .worker-job-execute-table thead tr th.assignment-date {
    width: 11%;
}
.worker-job-execute-whole-table .worker-job-execute-table thead tr th.check-in {
    width: 13.5%; 
}
.worker-job-execute-whole-table .worker-job-execute-table thead tr th.check-out {
    width: 13.5%; 
}
.worker-job-execute-whole-table .worker-job-execute-table thead tr th.progress {
    width: 9%; 
}
.worker-job-execute-whole-table .worker-job-execute-table thead tr th.progress-completed {
    width: 9%; 
}
.worker-job-execute-whole-table .worker-job-execute-table thead tr th.reason {
    width: 23%;
}

.worker-job-execute-whole-table .worker-job-execute-table tbody{
    
}
.worker-job-execute-whole-table .worker-job-execute-table tbody tr{
    width: 100%;
}
.worker-job-execute-whole-table .worker-job-execute-table tbody tr td{
    border: 1px solid #eaeaea;
    padding: 2% 0;
}
.worker-job-execute-whole-table .worker-job-execute-table tbody tr td.no-column {
    width: 4%;
    text-align: center;
}
.worker-job-execute-whole-table .worker-job-execute-table tbody tr td.job-requirement {
    width: 20%; 
    padding: 2%;
}
.worker-job-execute-whole-table .worker-job-execute-table tbody tr td.assignment-date {
    width: 11%;
    text-align: center;
}
.worker-job-execute-whole-table .worker-job-execute-table tbody tr td.check-in {
    width: 13.5%; 
    text-align: center;
}
.worker-job-execute-whole-table .worker-job-execute-table tbody tr td.check-in .ant-upload-wrapper {
    display: flex;
    justify-content: center;
}
.worker-job-execute-whole-table .worker-job-execute-table tbody tr td.check-in img{
    width: 80px;
    height: 80px;
    border-radius: 5px;
}
.worker-job-execute-whole-table .worker-job-execute-table tbody tr td.check-in .ant-image .ant-image-mask {
    border-radius: 5px;
}
.worker-job-execute-whole-table .worker-job-execute-table tbody tr td.check-in.not-allowed{
    padding: 5.1% 0;
}
/* chỉnh viền upload error */
/* .worker-job-execute-whole-table .worker-job-execute-table tbody tr td.check-in .ant-upload-wrapper .ant-upload-list.ant-upload-list-picture-card .ant-upload-list-item-error {
    border-color: rgb(52, 165, 52);
} */
.worker-job-execute-whole-table .worker-job-execute-table tbody tr td.check-out {
    width: 13.5%; 
    text-align: center;
}
.worker-job-execute-whole-table .worker-job-execute-table tbody tr td.check-out .ant-upload-wrapper {
    display: flex;
    justify-content: center;
}
.worker-job-execute-whole-table .worker-job-execute-table tbody tr td.check-out img{
    width: 80px;
    height: 80px;
    border-radius: 5px;
}
.worker-job-execute-whole-table .worker-job-execute-table tbody tr td.check-out .ant-image .ant-image-mask {
    border-radius: 5px;
}
.worker-job-execute-whole-table .worker-job-execute-table tbody tr td.check-out.not-allowed{
    padding: 5.1% 0;
}
.worker-job-execute-whole-table .worker-job-execute-table tbody tr td.progress {
    width: 9%; 
    text-align: center;
}
.worker-job-execute-whole-table .worker-job-execute-table tbody tr td.progress-completed {
    width: 9%; 
    text-align: center;
}
.worker-job-execute-whole-table .worker-job-execute-table tbody tr td.reason {
    width: 19%;
    padding: 2%;
    color: red
}

/* bỏ vì không sd input type="file" nữa */
/* Modal Overlay */
.worker-job-detail-container.image-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Làm mờ phần nền */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}
/* Modal content */
.worker-job-detail-container.image-modal-overlay .image-modal {
    position: relative;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}
/* Nút đóng ở góc trên bên phải */
.worker-job-detail-container.image-modal-overlay .image-modal .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 24px;
    color: #333;
    cursor: pointer;
}


.worker-job-detail-container .total-progress-completed {
    width: 90%;
    margin: 0 0 20px;
    padding: 0 5%;
    text-align: right;
    font-size: 20px;
}
.worker-job-detail-container .total-progress-completed span{
    font-size: 25px;
    color: green;
}
.worker-job-detail-container .total-progress-completed span.orange{
    color: orange;
}
.worker-job-detail-container .total-progress-completed br{
    display: none;
}


.worker-job-detail-container .ant-pagination {
    margin: 10px 0;
}
.worker-job-detail-container .ant-pagination .ant-pagination-options-quick-jumper {
    font-size: 16px;
}


@media (max-width: 1300px) {
    .worker-job-execute-whole-table .worker-job-execute-table tbody tr td{
        padding: 4% 0;
    }
    /* chỉnh ô upload ảnh */
    .worker-job-execute-whole-table .worker-job-execute-table tbody tr td.check-in .ant-upload-wrapper.ant-upload-picture-card-wrapper .ant-upload.ant-upload-select{
        width: 70px;
        height: 70px;
    }
    .worker-job-execute-whole-table .worker-job-execute-table tbody tr td.check-out .ant-upload-wrapper.ant-upload-picture-card-wrapper .ant-upload.ant-upload-select{
        width: 70px;
        height: 70px;
    }
}
@media (max-width: 1150px) {
    .worker-job-detail-container{
        width: 92%;
        margin-left: 0%;
    }
}
@media (max-width: 950px) {
    .worker-job-detail-container{
        width: 84%;
        padding: 2% 8% 5%;
    }
    .worker-job-detail-container .worker-job-detail-info p{
        margin: 2% 0;
    }
    .worker-job-detail-container .worker-job-detail-info .worker-job-detail-short-info p{
        margin: 2% 0;
    }
    .worker-job-detail-container .worker-job-execute-whole-table{
        overflow-x: auto;
        margin-bottom: 4%;
    }
    .worker-job-detail-container .worker-job-execute-whole-table .worker-job-execute-table{
        min-width: 950px; /* Đảm bảo bảng không bị co lại quá nhỏ */
    }
    .worker-job-execute-whole-table .worker-job-execute-table tbody tr td{
        padding: 2% 0;
    }
    /* chỉnh ô upload ảnh */
    .worker-job-execute-whole-table .worker-job-execute-table tbody tr td.check-in .ant-upload-wrapper.ant-upload-picture-card-wrapper .ant-upload.ant-upload-select{
        width: 80px;
        height: 80px;
    }
    .worker-job-execute-whole-table .worker-job-execute-table tbody tr td.check-out .ant-upload-wrapper.ant-upload-picture-card-wrapper .ant-upload.ant-upload-select{
        width: 80px;
        height: 80px;
    }
}
@media (max-width: 700px) {
    .worker-job-detail-container .go-back-btn{
        top: 0.5%
    }
    .worker-job-detail-container .worker-job-detail-info{
        padding: 5%;
    }
    .worker-job-detail-container .worker-job-detail-info .worker-job-detail-short-info p{
        width: 100%;
    }
    .worker-job-detail-container .worker-job-detail-info .show-more-less-btn{
        margin: 3% 0;
    }

    .worker-job-detail-container .ant-pagination {
        margin: 20px 0;
    }
}
@media (max-width: 500px) {
    .worker-job-detail-container .go-back-btn{
        position: absolute;
        top: 1%;
        left: 3%;
    }
    .worker-job-detail-container .worker-job-detail-title{
        padding: 2% 0 5%;
    }

    .worker-job-detail-container .total-progress-completed br{
        display: block;
    }
}