.worker-jobs-container{
    width: 90%;
    margin-left: 2%;
    padding: 2% 4% 5%;
    background-color: white;
    box-shadow: 0 1px 10px 3px rgba(118, 118, 118, 0.1);
    border-radius: 10px;
}

.worker-jobs-container h1{
    width: 100%;
}

.worker-jobs-container .my-jobs-skeleton {
    border: #f0f0f0 1px solid;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
}

.worker-jobs-container .no-jobs{
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;    
    align-items: center;
    align-content: center;
}
/* .worker-jobs-container .no-jobs p{
    color: rgb(106, 106, 106);
    font-size: 20px;
} */
.worker-jobs-container .no-jobs .ant-empty .ant-empty-description {
    font-size: 20px;
}


/* chức năng Search */
.worker-jobs-container .worker-jobs-search{
    width: 100%;
    margin: 3% 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.worker-jobs-container .worker-jobs-search .ant-input-group-wrapper{
    width: 55%;
}
.worker-jobs-container .worker-jobs-search .ant-input {
    font-family: var(--font-oswald);
    padding-left: 3%;
}
/* chỉnh nút search */
.worker-jobs-container .worker-jobs-search .ant-btn-variant-solid {
    background: rgba(22, 119, 255, 0.9);
}
.worker-jobs-container .worker-jobs-search .ant-select-single.ant-select-lg:not(.ant-select-customize-input) .ant-select-selector {
    border: 1px solid #d9d9d9;
}
/* chỉnh độ dài thanh Select */
.worker-jobs-container .worker-jobs-search .ant-select-single.ant-select-lg {
    width: 20%;
}
.worker-jobs-container .worker-jobs-search .ant-select-single.ant-select-lg:not(.ant-select-customize-input) .ant-select-selector {
    padding-left: 8%;
}
.worker-jobs-container .worker-jobs-search .ant-select-focused.ant-select-outlined:not(.ant-select-disabled):not(.ant-select-customize-input):not(.ant-pagination-size-changer) .ant-select-selector {
    border-color: #1677ff;
    box-shadow: 0 0 0 2px rgba(5, 145, 255, 0.1);
    outline: 0;
}

.worker-jobs-container .worker-jobs-item{
    width: 94%;
    padding: 25px 3%;
    border: 1px solid #E4E5E8;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    cursor: pointer;
    transition: 0.3s ease;
    margin-bottom: 1.5%;
}
.worker-jobs-container .worker-jobs-item:hover{
    background-color: rgb(249, 249, 249);
    transition: 0.3s ease;
}

.worker-jobs-item .worker-jobs-item-left{
    width: 85%;
    display: flex;
    align-items: center;
}
.worker-jobs-item .worker-jobs-item-left img{
    width: 80px;
    height: 80px;
    /* background-color: black; */
    background-color: #d9d9d9;
    border-radius: 10px;
    margin-right: 20px
}
.worker-jobs-item .worker-jobs-item-left .worker-jobs-content {
    /* margin-left: 2%; */
}
.worker-jobs-item .worker-jobs-item-left .worker-jobs-content .worker-jobs-item-title{
    width: 100%;
    margin: 0 0 3%;
    font-size: 18px;
    font-weight: 420;
}

.worker-jobs-item .worker-jobs-item-left .worker-jobs-content .worker-jobs-item-info{
    width: 100%;
    margin: 1% 0;
    font-size: 16px;
    /* font-weight: 420; */
    color: #5e6670;
}
.worker-jobs-item .worker-jobs-item-left .worker-jobs-content .worker-jobs-item-info .anticon{
    margin-right: 2px;
}
.worker-jobs-item .worker-jobs-item-left .worker-jobs-content .break-line-info{
    display: none;
}

.worker-jobs-item .worker-jobs-item-right{
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.worker-jobs-item .worker-jobs-item-right p{
    text-align: center;
    color: #187bcd;
    margin: 0;
    line-height: 15px;
    width: max-content;
}
.worker-jobs-item .worker-jobs-item-right p span {
    display: block;
    width: 70px;
    padding: 12px 15px;
    margin-left: 10px;
    color: white;
    text-align: center;
    border-radius: 15px;
    text-transform: capitalize;
    font-size: 17px;
    font-weight: 500;
}
.worker-jobs-item .worker-jobs-item-right p span.active{
    color: rgb(75, 75, 255);
    background-color: rgb(202, 233, 255);
}
.worker-jobs-item .worker-jobs-item-right p span.completed{
    color: green;
    background-color: rgb(205, 250, 205);
}
.worker-jobs-item .worker-jobs-item-right p span.inactive{
    color: red;
    background-color: #ffd4d4;
}

.worker-jobs-container .ant-pagination {
    margin: 30px 0 10px;
}
.worker-jobs-container .ant-pagination .ant-pagination-options-quick-jumper {
    font-size: 16px;
}

@media (max-width: 1300px) {
    .worker-jobs-item .worker-jobs-item-left{
        width: 80%;
    }
    .worker-jobs-item .worker-jobs-item-right{
        width: 20%;
    }
}
@media (max-width: 1150px) {
    .worker-jobs-container{
        width: 92%;
        margin-left: 0%;
    }
}
@media (max-width: 900px) {
    .worker-jobs-container{
        width: 84%;
        padding: 2% 8% 5%;
    }
    .worker-jobs-container .worker-jobs-search{
        margin: 3% 0 5%;
    }
    .worker-jobs-container .worker-jobs-search .ant-input-group-wrapper {
        width: 100%;
        margin: 0 0 5%;
    }
    .worker-jobs-container .worker-jobs-search .ant-select-single.ant-select-lg {
        width: 45%;
        margin: 0 0 3%;
    }
    .worker-jobs-container .worker-jobs-item{
        width: 90%;
        padding: 2% 5%;
        margin: 15px 0;
    }
    .worker-jobs-item .worker-jobs-item-left{
        width: 100%;
        align-content: center;
        padding: 3% 0 0;
    }
    .worker-jobs-item .worker-jobs-item-right{
        width: 100%;
        justify-content: flex-start;
        margin: 20px 0 10px;
    }
    .worker-jobs-item .worker-jobs-item-right p{
        width: 100%;
        text-align: start;
        display: flex;
        align-items: center;
    }
    .worker-jobs-item .worker-jobs-item-right p span {
        margin-right: 15px;
        margin-left: 0px;
    }
    .worker-jobs-item .worker-jobs-item-right p .break-line-status{
        display: none;
    }
}
@media (max-width: 600px) {
    .worker-jobs-container h1{
        padding-left: 2%;
        width: 98%;
    }
    .worker-jobs-container .worker-jobs-item{
        width: 84%;
        padding: 2% 8%;
        margin: 3% 0;
    }
    .worker-jobs-item .worker-jobs-item-left .worker-jobs-content .break-line-info{
        display: block;
    }
    .worker-jobs-container .ant-pagination {
        margin: 30px 0 20px;
    }
}
@media (max-width: 400px) {
    .worker-jobs-item .worker-jobs-item-right p{
        line-height: normal;
    }
}

