.reset-pw-whole-container {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  flex-direction: column;
  background-image: url('/assets/background_management_team.jpg');
  /* background-size: 100% 720px; */
  /* background-size: 100% 100%; */
  background-size: cover;
  background-position: top;
}

.reset-pw-container {
  max-width: var(--max-screen-width);
  width: 100%;
  min-height: 100vh;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-content: flex-start;
  flex-wrap: wrap;
}

.reset-pw-container h1{
  width: 100%;
  text-align: center;
  margin: 130px 0 20px;
  color: #003366;
}

.reset-pw-container .reset-pw-form{
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.reset-pw-container .reset-pw-form .reset-pw-field {
  width: 51%;
}
.reset-pw-container .reset-pw-form .reset-pw-field p{
  width: 100%;
  font-size: 19px;
  margin: 10px 0;
  color: #002142;
}
.reset-pw-container .reset-pw-form .reset-pw-field p span{
  color: red;
}
.reset-pw-container .reset-pw-form .reset-pw-field .input {
  width: 100%;
  font-size: 17px;
}
.reset-pw-container .reset-pw-form .reset-pw-field .ant-input-affix-wrapper>input.ant-input {
  padding-left: 3%;
  font-family: var(--font-oswald);
}
.reset-pw-container .reset-pw-form .reset-pw-field .ant-form-item .ant-form-item-explain-error {
  color: red;
  font-size: 16px;
  padding: 7px 0 12px;
}

.reset-pw-container .reset-pw-form .change-pw-btn{
  width: 100%;
  display: flex;
  justify-content: center;
}
.reset-pw-container .reset-pw-form .change-pw-btn button {
  width: 300px;
  margin: 20px 0;
  padding: 12px 0 15px;
  background-color: #187bcd;
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: 500;
  font-size: 17px;
  cursor: pointer;
  transition: 0.3s ease;
}
.reset-pw-container .reset-pw-form .change-pw-btn button:hover {
  background-color: #2d8cda;
  transition: 0.3s ease;
}
.reset-pw-container .reset-pw-form .change-pw-btn button:disabled {
  background-color: rgb(178, 178, 178);
  cursor: not-allowed;
}


@media (max-width: 1200px) {
  .reset-pw-whole-container {
    background-size: cover;
    background-position: right;
  }
}
@media (max-width: 900px) {
  .reset-pw-whole-container {
    background-position: left;
  }

  .reset-pw-container .reset-pw-form .reset-pw-field {
    width: 60%;
  }
}
@media (max-width: 700px) {
  .reset-pw-whole-container {
    background-image: none;
    background-color: #E0EDFE;
  }

  .reset-pw-container .reset-pw-form .reset-pw-field {
    width: 70%;
  }
}
@media (max-width: 500px) {
  .reset-pw-container .reset-pw-form .change-pw-btn button {
    width: 250px;
  }
}