:root {
  --max-screen-width: 1530px;
  --font-oswald: "Oswald", sans-serif;
  --primary-color: #03254C;
  --background-color: #dfedff;
  --btn-primary-color: #2A9DF4
}


body {
  padding: 0;
  margin: 0;
}